<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.android.monstrici.monstrici">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".ui.view.application.ApplicationCore"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".ui.view.authorisation.AuthorisationActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".ui.view.parameters.ParametersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.main_pupil.MainPupilActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.view.main_teacher.MainTeacherActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait">


        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e0f8001fa4d63a923a7494c7cc08d1d2595d1cf9" />
    </application>

</manifest>